@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0e5cd; /* This is the hex value for bg-yellow-600 */
  --foreground: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.table-container {
  @apply overflow-x-auto;
}

.table {
  @apply min-w-full bg-table-bg shadow-sm rounded-lg;
}

.table-header {
  @apply bg-table-header-bg;
}

.table-divider {
  @apply divide-y divide-table-divider;
}

.table-cell {
  @apply px-6 py-3 text-left text-xs font-medium text-gray-700 uppercase tracking-wider;
}