@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0e5cd; /* This is the hex value for bg-yellow-600 */
  --foreground: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
